bin_x64/
data/
downloaded_resources/
nvpro_core/
vk_raytracing_tutorial_KHR/build/
vk_raytracing_tutorial_KHR/common/
vk_raytracing_tutorial_KHR/docs/
vk_raytracing_tutorial_KHR/media/
vk_raytracing_tutorial_KHR/ray_tracing__advance/
vk_raytracing_tutorial_KHR/ray_tracing__simple/
vk_raytracing_tutorial_KHR/ray_tracing_advanced_compilation/
vk_raytracing_tutorial_KHR/ray_tracing_animation/
vk_raytracing_tutorial_KHR/ray_tracing_anyhit/
vk_raytracing_tutorial_KHR/ray_tracing_ao/
vk_raytracing_tutorial_KHR/ray_tracing_callable/
vk_raytracing_tutorial_KHR/ray_tracing_gltf/
vk_raytracing_tutorial_KHR/ray_tracing_indirect_scissor/
vk_raytracing_tutorial_KHR/ray_tracing_instances/
vk_raytracing_tutorial_KHR/ray_tracing_intersection/
vk_raytracing_tutorial_KHR/ray_tracing_jitter_cam/
vk_raytracing_tutorial_KHR/ray_tracing_manyhits/
vk_raytracing_tutorial_KHR/ray_tracing_motionblur/
vk_raytracing_tutorial_KHR/ray_tracing_rayquery/
vk_raytracing_tutorial_KHR/ray_tracing_specialization/